<img src="../../../assets/FINAL+SPACE+BANNER.jpg" width=100%>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">Gary Goodspeed is a boisterous yet inept astronaut who, in the midst of working off 
    the last few days of his five-year sentence aboard the prison spacecraft Galaxy One, encounters a 
    mysterious planet-destroying alien. He befriends the alien, naming him Mooncake, and then discovers 
    that Mooncake is wanted by the forces of a powerful telekinetic creature known as the Lord Commander. 
    Gary and Mooncake embark on a quest to save the universe, together with the ship's computer HUE, an 
    army of similar but unfalteringly loyal robots, and a growing crew of new shipmates-all while trying 
    to uncover the mystery of what "Final Space" really is.</p>

</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{subTitle}}</h1>
    <p class="lead">Final Space is an American animated space opera comedy-drama television series 
        created by Olan Rogers for TBS and Cartoon Network's late-night programming block, Adult Swim. 
        The series premiered on TBS on February 26, 2018 and was renewed for a second season on May 7, 
        2018. Season 2 premiered on June 24, 2019 on Adult Swim, with TBS airing an encore the following 
        week. The show was renewed for a third season a week after the second finished airing. It was 
        announced that season 3 is set to premiere in March 20, 2021.</p>

    <br>
    <p class="lead">All the data of the series are taken from:</p>
    <a class="lead" href="https://finalspaceapi.com/">Final Space API</a>

  </div>

<br><br>








